<a href="https://colab.research.google.com/github/merdogan97/DAwPY/blob/main/DAwPy_Regex_01_02_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [1]:
import re
import pandas as pd

- Search()

In [4]:
text = "A546oOK"

In [5]:
re.search("\d", text)

In [8]:
num = re.search("\d\d", text)

In [9]:
num.start()

1

In [10]:
num.end()

3

In [11]:
num.span()

(1, 3)

In [12]:
num.group()

'54'

In [13]:
text = "8PM_19MIN"

In [50]:
nondigi = re.search("\D", text)
nondigi

In [51]:
text = 'My phone number is 555 666 7777'

In [52]:
re.search("\d\d\d", text)

In [53]:
telno= re.search("\d\d\d \d\d\d \d\d\d\d", text)
telno.group()

'555 666 7777'

In [54]:
text = 'My phone number is 555-666-7777'

In [55]:
telno= re.search("\d\d\d-\d\d\d\-\d\d\d\d", text)
telno.group()

'555-666-7777'

In [58]:
telno = re.search("(\d\d\d)-(\d\d\d\)-(\d\d\d\d)", text)
telno.group()

error: ignored

# **Sub()**

In [67]:
phone= "2005-960-660"
re.sub("\D", "*", phone)

'2005*960*660'

In [68]:
phone= "2005-960-660"
re.sub("\D", ".", phone)

'2005.960.660'

In [69]:
phone= "2005-960-660"
re.sub("\d", "*", phone)

'****-***-***'

In [63]:
re.sub("6", "7", phone)

'2005-970-770'

In [72]:
txt = "You are good man"
x = re.sub("\s", "*", txt)
x

'You*are*good*man'

In [73]:
txt = "You are good man"
x = re.sub("\s", "*", txt, 1)
x

'You*are good man'

# **- Findall()**

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

In [76]:
value = "o 1,t ,o 100. 100000000"

In [77]:
output = re.findall("\d{1,5}", value)
print(output)

['1', '100', '10000', '0000']

In [79]:
txt = "1 person against 100 people"   # digit bul devamında numeric olmayan bir değer varsa kes
output = re.findall("\d+", txt)
print(output)

['1', '100']

In [80]:
txt = "1 person against 100 people"   # digit bul devamında numeric olmayan bir değer varsa kes
output = re.findall("\d", txt)
print(output)

['1', '1', '0', '0']

In [82]:
text = "hello world"
re.findall("^hell", text)

['hell']

In [84]:
re.findall("world$", text)

['world']

In [92]:
s = pd.Series(['a3', 'b4', 'c5', 'd'])
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [91]:
s.str.contains("\d", regex=False)

0    False
1    False
2    False
3    False
dtype: bool

In [95]:
s.str.extract("(\d)")

     0
0    3
1    4
2    5
3  NaN

In [96]:
s.str.extract("(\w)")

   0
0  a
1  b
2  c
3  d

In [97]:
s= pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [99]:
s.str.extract("(\w)(\w)(\w)(\w)") # w digit sayıları da kabul ediyor

   0  1  2  3
0  a  3  a  a
1  b  4  a  a
2  c  5  a  a

In [101]:
s.str.extract("(\w)\d(\w)(\w)") # numerik değerler gitti

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [102]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [103]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [104]:
s.str.extract("(\d\d|\d.\d|\d)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [105]:
s.str.extract("(\d*.\d*)")

      0
0   40
1   38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16   0
17  7.8

In [106]:
s.str.extract("(\d*.\d* .+/(\d))")

           0  1
0     40 l/1  1
1     38 l/1  1
2    6.4 l/1  1
3   8.3 kg/1  1
4   5.1 kg/1  1
5    5.4 l/1  1
6    6.7 l/1  1
7    6.2 l/1  1
8    7.3 l/1  1
9    6.3 l/1  1
10   5.7 l/1  1
11   6.1 l/1  1
12   6.8 l/1  1
13   7.5 l/1  1
14   7.4 l/1  1
15  3.6 kg/1  1
16     0 l/1  1
17   7.8 l/1  1