<a href="https://colab.research.google.com/github/merdogan97/DAwPY/blob/main/Pandas_PreClass(Text%26Time_Methods)_30_01_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TEXT METHODS**

In [ ]:
# lower(): Converts strings to lower case
upper() : Converts strings to upper case.
islower() : Checks whether all characters in each string in lower case or not. Returns Boolean
isupper() : Checks whether all characters in each string in upper case or not. Returns Boolean
isdigit() : Check whether all characters in each string are digits.
isnumeric(): Checks whether all characters in each string are numeric. Returns Boolean.
replace(): Replaces the value a with the value b
split(): Splits each string with the given pattern
contains(): Returns a Boolean value True for each element if the substring contains in the element, else False.
strip(): Helps strip whitespace(including newline) from each string
find() : Returns the first position of the first occurrence of the pattern
findall() : Returns a list of all occurrence of the pattern.

In [1]:
import pandas as pd
import numpy as np

In [2]:
"hello".upper()

'HELLO'

In [3]:
orders = pd.read_table('http://bit.ly/chiporders')

In [4]:
orders

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [5]:
orders.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [8]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [12]:
orders.item_name.str.contains('chicken')

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [20]:
orders.choice_description.str.replace('[', '')

0                                                     NaN
1                                             Clementine]
2                                                  Apple]
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce]]
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [22]:
orders.choice_description.str.replace('[', '').str.replace(']','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [23]:
orders

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [24]:
orders.choice_description.str.replace('[\[\]]', '')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [17]:
orders[orders.item_name.str.contains('chicken')]

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

# **TIME METHODS**

In [ ]:
datetime      module contains the core objects for working with time series data in Python.
to_datetime() method parses many different kinds of date representations returning a Timestamp object.
strftime - convert object to a string according to a given format
strptime - parse a string into a datetime object given a corresponding format
timedelta-  gives time difference

In [28]:
from datetime import datetime
current_date = datetime.now()
print(current_date)

2022-01-31 14:45:02.396366

In [31]:
date = datetime.now()
print(date.today())

2022-01-31 14:46:40.418543

In [32]:
current_date = datetime.now()
print(current_date.month)

1

In [33]:
current_date = datetime.now()
print(current_date.year)

2022

In [34]:
current_date = datetime.now()
print(current_date.strftime('%W'))

05

In [35]:
print(current_date.strftime('%B'))

January

In [36]:
print(current_date.strftime('%d'))

31

![image.png]()

In [37]:
str1 = '2022-01-31'
date1 = datetime.strptime(str1,"%Y-%m-%d")
print(date1)

2022-01-31 00:00:00

In [38]:
print(date1.month)

1

In [39]:
from datetime import timedelta
import datetime

In [40]:
current_date = datetime.datetime.now()

In [41]:
date_after_10_days = current_date + timedelta(days=10)

In [43]:
print("Today date : ", current_date.date())
print("Date after 10 days: ", date_after_10_days.date())

Today date :  2022-01-31
Date after 10 days:  2022-02-10

# **Get_Dummies Method**
Since Machine Learning models does not work with categorical/non-numerical data we have to convert categorical data to numerical data before feeding it into a model. Get_Dummies method basically converts categorical variable into dummy/indicator variables.

In [44]:
df = pd.DataFrame([('Foreign Cinema', 289.0),
                   ('Liho LÄ°ho', 224.0),
                   ('500 Club', 80.5),
                   ('Foreign Cinema', 25.30)],
         columns = ('name', ' amount')
                 )
df

             name   amount
0  Foreign Cinema    289.0
1       Liho LÄ°ho    224.0
2        500 Club     80.5
3  Foreign Cinema     25.3

In [45]:
# 1. cerating dummy indicator columns. 
# We'll create dummiees on the 'name' column.

In [46]:
pd.get_dummies(df, columns=['name'])

    amount  name_500 Club  name_Foreign Cinema  name_Liho LÄ°ho
0    289.0              0                    1               0
1    224.0              0                    0               1
2     80.5              1                    0               0
3     25.3              0                    1               0

In [47]:
# 2. creating dummy indicator columns with prefix

In [48]:
pd.get_dummies(df, columns=['name'], prefix="dmy")

    amount  dmy_500 Club  dmy_Foreign Cinema  dmy_Liho LÄ°ho
0    289.0             0                   1              0
1    224.0             0                   0              1
2     80.5             1                   0              0
3     25.3             0                   1              0

In [49]:
pd.get_dummies(df, columns=['name'], prefix="dmy", prefix_sep="*")

    amount  dmy*500 Club  dmy*Foreign Cinema  dmy*Liho LÄ°ho
0    289.0             0                   1              0
1    224.0             0                   0              1
2     80.5             1                   0              0
3     25.3             0                   1              0

In [ ]:
# 3.  creating dummy indicator columns and dropping the first variable

In [50]:
pd.get_dummies(df, columns=['name'], drop_first= True)

    amount  name_Foreign Cinema  name_Liho LÄ°ho
0    289.0                    1               0
1    224.0                    0               1
2     80.5                    0               0
3     25.3                    1               0