<a href="https://colab.research.google.com/github/merdogan97/DAwPY/blob/main/Time_Sensitive_Interview_Task_1_08_02_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time-Sensitive Interview Task

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

In [ ]:
data = pd.read_csv("sales_082020.csv")
df = data.copy()
df.sample(7)

          buyer_id buyer_country seller_id seller_country  ...             brand currency  price        date
91563   5be7gyxjig            AU  trxovtwo             AU  ...               NaN      AUD   5.34  2020-08-08
52619   fw7y02ulzn            US  r7z3ms00             US  ...          Converse      USD  44.20  2020-08-05
76395   m8ng61684y            GB  g47hc9c9             GB  ...              ASOS      GBP  15.51  2020-08-07
136141  en30rcsd6u            GB  bfxaf2pk             GB  ...  Adidas Originals      GBP  24.35  2020-08-08
121975  gor69q869g            GB  02p5o1ol             GB  ...              ALDO      GBP   9.96  2020-08-07
101874  ahltrhjvoc            CA  xueekb4b             US  ...  American Vintage      USD  40.81  2020-08-04
180455  0vhsl4ebgj            US  1wfx5nbo             US  ...        Forever 21      USD  16.61  2020-08-04

[7 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [ ]:
df.describe()

               price
count  237671.000000
mean       28.357384
std        92.895281
min         0.010000
25%        11.270000
50%        18.480000
75%        31.180000
max     36919.180000

In [ ]:
df.duplicated().sum()

40

In [ ]:
data1 = pd.read_csv("currency_rates_082020_EUR.csv")
df_cur = data1.copy()
df_cur.sample(5)

    currency       date       rate
159      NOK  8/10/2020  10.609200
155      NOK   8/6/2020  10.657590
201      CZK   8/2/2020  26.257050
161      SGD   8/2/2020   1.619715
23       USD   8/4/2020   1.181445

In [ ]:
df_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [ ]:
df_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

#### 1. How many rows in the sales dataset?

In [ ]:
df.shape[0]

237671

#### 2. How many columns in the sales dataset?

In [ ]:
df.shape[1]

10

#### 3. What is the total number of sellers?

In [ ]:
len(df.seller_id.unique())

114227

In [ ]:
df_sales.seller_id.nunique()

114227

#### 4. What is the total value of sales in EUR?

In [ ]:
df[df["currency"] == "EUR"]["price"].sum()

275837.69

In [ ]:
df.head()

     buyer_id buyer_country seller_id seller_country  ...             brand currency  price        date
0  qzpjsi9t0o            GB  6oufpaot             GB  ...               NaN      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg             GB  ...  Adidas Originals      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg             GB  ...               NaN      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh             GB  ...          Berghaus      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v             GB  ...               NaN      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [ ]:
df_cur.sample(10)

    currency       date       rate
88       SEK   8/9/2020  10.312200
162      SGD   8/3/2020   1.618670
92       DKK   8/3/2020   7.447050
182      TWD   8/3/2020  34.456300
170      MYR   8/1/2020   5.023700
186      TWD   8/7/2020  34.751800
202      CZK   8/3/2020  26.275500
24       USD   8/5/2020   1.187255
172      MYR   8/3/2020   4.949700
159      NOK  8/10/2020  10.609200

In [ ]:
df_cur["date"] = pd.to_datetime(df_cur["date"], format = "%m/%d/%Y")
df["date"] = pd.to_datetime(df["date"], format = "%Y-%m-%d")
merge_df = pd.merge(df, df_cur, on=["currency","date"])
merge_df["EURprice"] = merge_df["price"]/merge_df["rate"]

In [ ]:
merge_df.EURprice.sum().round()

6471511.0

#### 5. Which brand has the highest number of purchases during the period?

In [ ]:
df

          buyer_id buyer_country seller_id seller_country  ...             brand currency   price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...               NaN      GBP   19.11 2020-08-03
1       o79pns1qwo            GB  50xki2yg             GB  ...  Adidas Originals      GBP   15.92 2020-08-09
2       sjgbjdkhqx            GB  50xki2yg             GB  ...               NaN      GBP    6.37 2020-08-07
3       o79pns1qwo            GB  s0p322hh             GB  ...          Berghaus      GBP   25.27 2020-08-09
4       o79pns1qwo            GB  dpkx192v             GB  ...               NaN      GBP    8.90 2020-08-09
...            ...           ...       ...            ...  ...               ...      ...     ...        ...
237666  p7ibf7soot            GB  ss7jy9ks             GB  ...               NaN      GBP   17.11 2020-08-06
237667  2hg8zirueq            US  bk6apusi             US  ...               NaN      USD   69.00 2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph             GB  ...               NaN      GBP   58.28 2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb             GB  ...               NaN      GBP    9.46 2020-08-05
237670  z09h7w9zcd            US  0au7baxi             US  ...               NaN      USD  160.76 2020-08-06

[237671 rows x 10 columns]

In [ ]:
merge_df.brand.value_counts().head(1)

Nike    9575
Name: brand, dtype: int64

In [ ]:
merge_df[merge_df["brand"]== "Nike"]["EURprice"].sum()

385022.4140668997

In [ ]:
merge_df.groupby("brand")["EURprice"].sum().sort_values(ascending = False).head()

brand
Nike                385022.414067
Adidas              114211.542782
American Vintage     89939.908652
Brandy Melville      87735.664806
Dr. Martens          81491.623673
Name: EURprice, dtype: float64

#### 6. How many items in the “Jewellery” category have no brand associated with them?

In [ ]:
df[(df.category =="Jewellery") & (df.brand.isnull())].product_code.nunique()

10931

In [ ]:
df

          buyer_id buyer_country seller_id seller_country  ...             brand currency   price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...               NaN      GBP   19.11 2020-08-03
1       o79pns1qwo            GB  50xki2yg             GB  ...  Adidas Originals      GBP   15.92 2020-08-09
2       sjgbjdkhqx            GB  50xki2yg             GB  ...               NaN      GBP    6.37 2020-08-07
3       o79pns1qwo            GB  s0p322hh             GB  ...          Berghaus      GBP   25.27 2020-08-09
4       o79pns1qwo            GB  dpkx192v             GB  ...               NaN      GBP    8.90 2020-08-09
...            ...           ...       ...            ...  ...               ...      ...     ...        ...
237666  p7ibf7soot            GB  ss7jy9ks             GB  ...               NaN      GBP   17.11 2020-08-06
237667  2hg8zirueq            US  bk6apusi             US  ...               NaN      USD   69.00 2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph             GB  ...               NaN      GBP   58.28 2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb             GB  ...               NaN      GBP    9.46 2020-08-05
237670  z09h7w9zcd            US  0au7baxi             US  ...               NaN      USD  160.76 2020-08-06

[237671 rows x 10 columns]

#### 7. How many brands have between 35 and 55 transactions (inclusive)?

In [ ]:
(df.brand.value_counts()>34).sum() - (df.brand.value_counts()>55).sum()

81

#### 8. How many pairs of shoes were purchased by Australian (AU) buyers?

In [ ]:
df

          buyer_id buyer_country seller_id seller_country  ...             brand currency   price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...               NaN      GBP   19.11 2020-08-03
1       o79pns1qwo            GB  50xki2yg             GB  ...  Adidas Originals      GBP   15.92 2020-08-09
2       sjgbjdkhqx            GB  50xki2yg             GB  ...               NaN      GBP    6.37 2020-08-07
3       o79pns1qwo            GB  s0p322hh             GB  ...          Berghaus      GBP   25.27 2020-08-09
4       o79pns1qwo            GB  dpkx192v             GB  ...               NaN      GBP    8.90 2020-08-09
...            ...           ...       ...            ...  ...               ...      ...     ...        ...
237666  p7ibf7soot            GB  ss7jy9ks             GB  ...               NaN      GBP   17.11 2020-08-06
237667  2hg8zirueq            US  bk6apusi             US  ...               NaN      USD   69.00 2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph             GB  ...               NaN      GBP   58.28 2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb             GB  ...               NaN      GBP    9.46 2020-08-05
237670  z09h7w9zcd            US  0au7baxi             US  ...               NaN      USD  160.76 2020-08-06

[237671 rows x 10 columns]

In [ ]:
len(df[(df.category == "Shoes") & (df.buyer_country == "AU")])

658

#### 9. Which brand has the highest average transaction value?

In [ ]:
merge_df.groupby("brand")["EURprice"].mean().sort_values(ascending = False).head()

brand
Goyard          338.926936
Loewe           334.530369
Craig Green     266.792684
TAG Heuer       224.586782
Emilio Pucci    214.758636
Name: EURprice, dtype: float64

#### 10. What is the total value of items purchased by GB buyers from GB sellers?

In [ ]:
merge_df[(merge_df["buyer_country"] == "GB") & (merge_df["seller_country"] == "GB")]["EURprice"].sum()

3526745.033129233

#### 11. What percentage of US sellers' transactions were purchased by US buyers?

In [ ]:
us_us = merge_df[(merge_df["buyer_country"] == "US") & (merge_df["seller_country"] == "US")]["EURprice"].sum()
us_all= merge_df[merge_df["seller_country"] == "US"]["EURprice"].sum()
yuzde = (us_us / us_all)*100
yuzde

95.96922067159569

In [ ]:
merge_df[df["seller_country"]=="US"]["buyer_country"].value_counts(dropna=False,normalize=True)

US     0.982304
CA     0.004762
RoW    0.004652
GB     0.003666
AU     0.002789
DE     0.000804
FR     0.000548
IE     0.000341
IT     0.000134
Name: buyer_country, dtype: float64

In [ ]:
df

          buyer_id buyer_country seller_id seller_country  ...             brand currency   price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...               NaN      GBP   19.11 2020-08-03
1       o79pns1qwo            GB  50xki2yg             GB  ...  Adidas Originals      GBP   15.92 2020-08-09
2       sjgbjdkhqx            GB  50xki2yg             GB  ...               NaN      GBP    6.37 2020-08-07
3       o79pns1qwo            GB  s0p322hh             GB  ...          Berghaus      GBP   25.27 2020-08-09
4       o79pns1qwo            GB  dpkx192v             GB  ...               NaN      GBP    8.90 2020-08-09
...            ...           ...       ...            ...  ...               ...      ...     ...        ...
237666  p7ibf7soot            GB  ss7jy9ks             GB  ...               NaN      GBP   17.11 2020-08-06
237667  2hg8zirueq            US  bk6apusi             US  ...               NaN      USD   69.00 2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph             GB  ...               NaN      GBP   58.28 2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb             GB  ...               NaN      GBP    9.46 2020-08-05
237670  z09h7w9zcd            US  0au7baxi             US  ...               NaN      USD  160.76 2020-08-06

[237671 rows x 10 columns]

In [ ]:
df[(df.category== "Dresses") & (df.price>15)]

          buyer_id buyer_country seller_id seller_country  ...        brand currency  price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...          NaN      GBP  19.11 2020-08-03
94      mebpkmv8wu            GB  gmhjaphl             GB  ...     Oh Polly      GBP  34.41 2020-08-05
99      5g8n4a5zht            GB  5a5i67ye             GB  ...          COS      GBP  30.57 2020-08-08
100     kfodrz4mon            GB  5a5i67ye             GB  ...          NaN      GBP  52.85 2020-08-09
101     zsllk5i2j7            GB  5a5i67ye             GB  ...  Phase Eight      GBP  17.10 2020-08-05
...            ...           ...       ...            ...  ...          ...      ...    ...        ...
237618  f48avv82m8            US  8pddvmac             US  ...       Disney      USD  21.15 2020-08-05
237640  grik173oqv            AU  ne06kqik             AU  ...          NaN      AUD  40.61 2020-08-05
237648  05ll13z5pg            US  ahrll085             US  ...          NaN      USD  54.31 2020-08-06
237655  nm1xpzjn55            GB  19ql9irh             GB  ...     Oh Polly      GBP  16.97 2020-08-05
237664  pe7412k2er            AU  c61u1sje             AU  ...          NaN      AUD  19.80 2020-08-05

[13018 rows x 10 columns]

In [ ]:
df.query("category == 'Dresses' & price > 15")

          buyer_id buyer_country seller_id seller_country  ...        brand currency  price       date
0       qzpjsi9t0o            GB  6oufpaot             GB  ...          NaN      GBP  19.11 2020-08-03
94      mebpkmv8wu            GB  gmhjaphl             GB  ...     Oh Polly      GBP  34.41 2020-08-05
99      5g8n4a5zht            GB  5a5i67ye             GB  ...          COS      GBP  30.57 2020-08-08
100     kfodrz4mon            GB  5a5i67ye             GB  ...          NaN      GBP  52.85 2020-08-09
101     zsllk5i2j7            GB  5a5i67ye             GB  ...  Phase Eight      GBP  17.10 2020-08-05
...            ...           ...       ...            ...  ...          ...      ...    ...        ...
237618  f48avv82m8            US  8pddvmac             US  ...       Disney      USD  21.15 2020-08-05
237640  grik173oqv            AU  ne06kqik             AU  ...          NaN      AUD  40.61 2020-08-05
237648  05ll13z5pg            US  ahrll085             US  ...          NaN      USD  54.31 2020-08-06
237655  nm1xpzjn55            GB  19ql9irh             GB  ...     Oh Polly      GBP  16.97 2020-08-05
237664  pe7412k2er            AU  c61u1sje             AU  ...          NaN      AUD  19.80 2020-08-05

[13018 rows x 10 columns]